server/myservice.wsdl

<definitions name="MyService"
  targetNamespace="http://example.com/myservice.wsdl"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/myservice.wsdl"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <schema targetNamespace="http://example.com/myservice.wsdl"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://example.com/myservice.wsdl"
      elementFormDefault="qualified">

      <complexType name="ArrayOfStrings">
        <sequence>
          <element name="Перший_рівень" type="xsd:string" />
          <element name="Другий_рівень" type="xsd:string" />
          <element name="Третій_рівень" type="xsd:string" />
          <element name="Четвертий_рівень" type="xsd:string" />
          <element name="Категорія" type="xsd:string" />
          <element name="Назва_обєкта_українською_мовою" type="xsd:string" />
        </sequence>
      </complexType>
    </schema>
  </types>

  <message name="MyFunctionRequest">
    <part name="name" type="xsd:string" />
  </message>

  <message name="MyFunctionResponse">
    <part name="response" type="tns:ArrayOfStrings" />
  </message>

  <portType name="MyPortType">
    <operation name="MyFunction">
      <input message="tns:MyFunctionRequest" />
      <output message="tns:MyFunctionResponse" />
    </operation>
  </portType>

  <binding name="MyBinding" type="tns:MyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="MyFunction">
      <soap:operation soapAction="http://example.com/myservice.wsdl#MyFunction" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="MyService">
    <port name="MyPort" binding="tns:MyBinding">
      <soap:address location="http://localhost:8000/wsdl" />
    </port>
  </service>
</definitions>
